#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}
.gallery{
    width: 250px;
    height: 150px;
    margin: 10px;
}
#portfolio{
    height: 1000px;
}
.input{
    width: 80%;
}
#msg{
    width: 70%;
}
